# **Mercado Financeiro**
Notebook utilizado para análise de dados do mercado financeiro utilizando as seguintes ações da Bolsa B3 de São Paulo: B3SA3,ITUB4,IRBR3,ABEV3.
Começando pelo cálculo do retorno diário, passando por risco/retorno de um ativo e cálculo de betas.

##Importando as bibliotecas e fazendo o upload dos arquivos

In [40]:
import numpy as np
import pandas as pd

In [41]:
from google.colab import files
up1= files.upload()

Saving IRBR3.SA.csv to IRBR3.SA (1).csv
Saving ITUB4.SA.csv to ITUB4.SA (1).csv
Saving ABEV3.SA.csv to ABEV3.SA (1).csv
Saving B3SA3.SA.csv to B3SA3.SA (1).csv

In [42]:
ABEV = pd.read_csv("ABEV3.SA.csv")
B3 = pd.read_csv("B3SA3.SA.csv")
IRB = pd.read_csv("IRBR3.SA.csv")
ITUB = pd.read_csv("ITUB4.SA.csv")
ABEV.head()

         Date       Open       High    Low      Close  Adj Close      Volume
0  2019-07-08  19.040001  19.180000  18.76  18.940001  18.455286  18757800.0
1  2019-07-10  18.950001  19.240000  18.82  19.020000  18.533239  33415700.0
2  2019-07-11  19.070000  19.180000  18.60  18.690001  18.211685  18302600.0
3  2019-07-12  18.700001  18.700001  18.10  18.200001  17.734224  31136800.0
4  2019-07-15  18.400000  18.410000  18.10  18.250000  17.782944  16291700.0

## Cálculo dos Retornos diários

In [43]:
#ABEV['Retorno'][0] = 1.0

for x in range(len(ABEV['Close'])-1):
  #ABEV.at[x+1,'Retorno'] =10
  ABEV.at[x+1,'Retorno'] = (ABEV['Close'][x+1]-ABEV['Close'][x])/ABEV['Close'][x]
  ABEV.head()

In [44]:
ABEV.head()

         Date       Open       High  ...  Adj Close      Volume   Retorno
0  2019-07-08  19.040001  19.180000  ...  18.455286  18757800.0       NaN
1  2019-07-10  18.950001  19.240000  ...  18.533239  33415700.0  0.004224
2  2019-07-11  19.070000  19.180000  ...  18.211685  18302600.0 -0.017350
3  2019-07-12  18.700001  18.700001  ...  17.734224  31136800.0 -0.026217
4  2019-07-15  18.400000  18.410000  ...  17.782944  16291700.0  0.002747

[5 rows x 8 columns]

In [45]:
for x in range(len(ITUB['Close'])-1):
  ITUB.at[x+1,'Retorno'] = (ITUB['Close'][x+1]-ITUB['Close'][x])/ITUB['Close'][x]
ITUB['Retorno'][0] =1.0
ITUB.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

         Date       Open       High  ...  Adj Close      Volume   Retorno
0  2019-07-08  37.470001  37.500000  ...  35.939171   9918400.0  1.000000
1  2019-07-10  37.529999  37.720001  ...  35.842819  22765400.0 -0.002681
2  2019-07-11  36.970001  37.150002  ...  35.794647  15289000.0 -0.001344
3  2019-07-12  37.450001  37.459999  ...  35.129818  18723300.0 -0.018573
4  2019-07-15  36.680000  36.700001  ...  35.033466  16642300.0 -0.002743

[5 rows x 8 columns]

In [46]:
for x in range(len(B3['Close'])-1):
  B3.at[x+1,'Retorno'] = (B3['Close'][x+1]-B3['Close'][x])/B3['Close'][x+1]

In [47]:
B3['Retorno'][0] =1
B3.head()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

         Date       Open       High  ...  Adj Close      Volume   Retorno
0  2019-07-08  40.400002  40.630001  ...  39.251339   6202900.0  1.000000
1  2019-07-10  40.950001  43.000000  ...  41.004505  17923800.0  0.042755
2  2019-07-11  42.099998  42.099998  ...  40.088963  11037300.0 -0.022838
3  2019-07-12  41.250000  41.470001  ...  38.666958  12571100.0 -0.036776
4  2019-07-15  39.970001  40.270000  ...  38.705914   6296400.0  0.001007

[5 rows x 8 columns]

In [48]:
for x in range(len(IRB['Close'])-1):
  IRB.at[x+1,'Retorno'] = (IRB['Close'][x+1]-IRB['Close'][x])/IRB['Close'][x]
#IRB['Retorno'][0] = 1
IRB.head()

         Date       Open       High  ...  Adj Close      Volume   Retorno
0  2019-07-08  32.349998  32.480000  ...  30.922359  10330200.0       NaN
1  2019-07-10  31.996700  33.963299  ...  33.021824  10754400.0  0.067895
2  2019-07-11  33.333302  33.476700  ...  31.303194   6174000.0 -0.052045
3  2019-07-12  32.250000  32.536701  ...  30.606562   5005500.0 -0.022254
4  2019-07-15  31.503300  31.719999  ...  30.206198   3844800.0 -0.013081

[5 rows x 8 columns]